header{
    

    width: auto;
padding: 1%;   
background-color: #92170b;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    text-decoration: none;
color: #f4d8a1;
font-weight: 3.5vw;
  }
  



