nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .pizza-link {
    width: 100px;
    height: 100px;
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
  }
  
  .pizza1 {
    background-image: url('../../../public/margarita.png'); 
  }
  
  .pizza2 {
    background-image: url('../../../public/peperoni.png'); 
  }
  
  .pizza3 {
    background-image: url('../../../public/quatroQueijos.png'); 
  }
  
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }